@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}
header{
    padding:5px 0;
    margin-bottom: 20px;
    height: 50px;
    background-color: #545454;
    color: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}
header > div{
    left: 8px;
}
p{
    font-size: 12px;
}
#conteudo{
    padding: 0px 8px;
}
/*login*/
#div-login{
    width: 550px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
}
#frm-login{
    width: 400px;
    height: 400px;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
}
#tudo-login{
    background-color: #bebebe;

}
.grid-login{
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 10px;
    margin: 5px;
}
footer{
    margin-top: 200px;
    padding: 0px 8px;
}
.campo-rotulo{
    width: 180px;
}
.ajax-status{
    position: fixed;
    top: 75px;
    right:15px;
    width: 40px;
    height: 40px;
}

/*classes primefaces*/
.ui-panelgrid td{
    height: 34px;
}
